@model A2Topicos3.Models.Carro

@{
    ViewData["Title"] = "Detalhes";
}

<div>
    <h4>Carro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoModelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoModelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoFabricacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoFabricacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cavalos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cavalos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LitrosMotor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LitrosMotor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantPortas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantPortas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca.Nome)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
</div>
